body {
    background-image: url("Ronaldo.jpg");
}
h1 {
    color: green;
}
p {
    color: red;
}
h2 {
    color: red;
}
#hi {
	background: blue;
}
#hi {
	width: 500px;
	padding-top:100px;
	padding-left:100px;
	border-radius:10px;
}
#hi {
	height: 300px;
	border-radius:10px; 
}
p {
    font-size:1em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}